<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Booking System - Your Tickets</title>
    <% include Head %>
        <script type="text/javascript">
            var isEmailValid = false;
            $(document).ready(function () {
                $('#emailid').blur(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/IsEmailIdExists?EmailId=' + $('#emailid').val(),
                        success: function (result) {
                            if (result.IsValid == true) {
                                $('#emailid').css("background-image", "url(\"../images/ajax/success.png\")");//  "<img src=\"../../images/ajax/success.png\"/>");
                                //alert('success');
                                isEmailValid = true;
                            }
                            else {
                                $('#emailid').css("background-image", "none");//"url(\"../images/ajax/success.png\")");
                                //$('#emailid')[0].setCustomValidity('EmailId Already Exists');
                                document.getElementById('emailid').setCustomValidity('EmailId Already Exists');
                                isEmailValid = false;
                            }
                        }
                    });
                });

                $('#emailid').focus(function () {
                    $('#emailid').css("background-image", "none");
                });
            });
            function checkRegistrationForm() {
                var password = document.getElementById("passwd");
                var confirm_password = document.getElementById("cpasswd");

                // if(isEmailValid == false)
                // {
                //     confirm_password.setCustomValidity('EmailId Already Exists');
                //     return false;
                // }
                if (password.value != confirm_password.value) {
                    alert("Passwords Don't Match");
                    return false;
                } else {
                    confirm_password.setCustomValidity('');
                    return true;
                }
            }
        </script>
</head>

<body>
    <header>
        <% include GuestHeader %>
    </header>


    <div id="signupbox" style=" margin-top:50px;padding-left: 100px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary" style="
    width: 400px;">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>

            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form" action="ValidateUserRegistration" enctype="multipart/form-data"
                    method="post">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>



                    <div class="form-group">
                        <label for="emailid" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control imagetext" id="emailid" name="emailid" placeholder="Email Address" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwd" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpasswd" class="col-md-3 control-label">Confirm Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="cpasswd" name="cpasswd1" placeholder="Confirm Password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProfilePhoto" class="col-md-3 control-label">Profile Photo</label>
                        <div class="col-md-9">
                            <input type="file" name="ProfilePhoto" id="ProfilePhoto" accept="image/x-png,image/gif,image/jpeg" placeholder="Profile Picture"
                                required="required" />
                            <!--<input type="password" class="form-control" id="ProfilePhoto" name="cpasswd" placeholder="Profile Picture" required="required">-->
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-primary" onclick="return checkRegistrationForm()"><i class="icon-hand-right"></i> &nbsp Sign Up</button>

                        </div>
                    </div>

                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                        Already have an account!
                        <a href="login">
                                    Login Here
                                </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>