<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">MyChat</a>

  </div>
  
</div>
<div align="right">
			<p><b style="color:#009900"><p style="color:#009900;font-weight:bold; padding-right: 20px;" id="txtUserName">Hi, &nbsp;<%=loggedinName%></p> </b>		</div>


