

<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">MyChat</a>
    <!-- <ul class="nav navbar-nav">
        <li><a href="logoff">Signout</a></li> -->
  </div>
  
</div>

<div align="right">
      <p><b><p style="color:#009900;font-weight:bold; padding-right: 20px;" id="txtUserName">Hi, &nbsp;<%=loggedinName%>
      
      <img id="titleProfile1" class="circleImage" style="z-index: 2" src="../../images/<%=loggedinEmailId%>.jpg">
     </p> <a style=" color: red;padding-right: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 16px;" href="./../Signout"  >SignOut</a></b>	</div>


